#container
{
    position: relative;
  
    overflow:auto;
}

#myCanvas
{
    width: 1050px;
    height: 425px;
    cursor: move;
    overflow:auto;
}

#counterclockwise, #clockwise
{
    font-family: 'Ubuntu';
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;

    width: 525px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #FCC302;
    font-size: 18px;
}

#minus:hover, #plus:hover
{
    background-color: Yellow;
}
