.express{
    padding: 2%;
}

.btn-calcular{
    float: left;
    font-size: 1.3em !important;
    background-color: #0277BD !important; 
    color: white !important; 
    font-size: 1.4em !important; 
    text-transform: uppercase !important;
    font-weight: bolder !important;
}

.btn-calcular:hover{
    background-color: rgb(230, 128, 11) !important; 
    color: white !important;
    font-weight: bolder;
}

.labelDescrição{
    font-size: 1.4em;
    font-style: italic;
    color: gray;
    font-weight: 200
}

.labelExpresao{
    font-size: 1.4em;
    color: #0277BD;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: -1%;
}
